@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mochiy Pop P One", sans-serif;
  font-family: "Roboto", sans-serif;
}

.bgImg {
  background-image: url("./Images/marvel.jpg");
  filter: blur(8px);
  height: 100vh;
  width: 100%;
  position: fixed;
}

.root {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.imgDiv {
  height: 300px;
  width: max-content;
  margin: auto;
  display: flex;
  align-items: center;
}

.imgDiv img {
  height: 118px;
  width: 400px;
  margin: auto;
  border-radius: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

.searchDiv {
  width: 600px;
  margin: auto;
  display: flex;
  background-color: #483434;
  border-radius: 15px 15px;
  align-items: center;
}

.searchDiv input {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0 20px;
  color: #fff3e4;
  font-size: 18px;
}

.searchDiv:hover {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
.searchDiv span {
  margin-right: 15px;
  background-color: rgb(255, 255, 255);
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.searchSuggestions {
  height: auto;
  width: 600px;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-radius: 0 0 15px 15px;
}

.suggestions {
  height: 60px;
  width: 100%;
  background-color: azure;
  border: 1px solid yellowgreen;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 25px;
  justify-content: space-between;
}

.suggestions:hover {
  background-color: rgb(230, 36, 41);
  color: white;
  cursor: pointer;
}
.suggestions:last-child {
  border-radius: 0 0 15px 15px;
}

.gender {
  font-size: 15px;
}
